# Documentaion build {{ role_name|basename }}
{% if ansible_date_time.date is defined %}
# Generated {{ ansible_date_time.date }}
{% endif %}
# Documentaion for {{ inventory_hostname|lower }}
# build by Ansible


## CSV from Cisco SE Fasstrike Repo (https://github.com/CiscoSE/ACI_Ansible_FastStrike):

TENANT,VRF,BD,GW,MASK,AP,EPG,CONTRACT,SCOPE,TYPE,SUBJECT,ENTRY,FILTER,PROTOCOL,PORT
{%for tenant , value in tenants.items()%}
{{ tenant }},{{ value.vrf | default("global") }}
{% endfor %}
