! Cisco IOS Config
! Generated {{ ansible_date_time.iso8601_micro | default('1970') }}
! Config for {{ inventory_hostname }}


{% include 'hostname-cli.j2' %}

{% include 'vrf-cli.j2' %}

{% include 'interface-cli.j2' %}