# Documentaion build {{ role_name|basename }}
{% if ansible_date_time.date is defined %}
# Generated {{ ansible_date_time.date }}
{% endif %}
# Documentaion for {{ inventory_hostname|lower }}
# Resources Managed by Ansible


{% include 'markdown-doc.j2' %}
{% include 'csv-doc.j2' %}
