! Cisco IOS Config
! Generated {{ build_time | default('1970') }}
! Config for {{ inventory_hostname }}


{% include 'hostname-cli.j2' %}

{% include 'radius-cli.j2' %}

{% include 'nameserver-cli.j2' %}

{% include 'login-cli.j2' %}

{% include 'vtp-cli.j2' %}

{% include 'vlan-cli.j2' %}

{% include 'vrf-cli.j2' %}

{% include 'interface-cli.j2' %}

