# jinja2 Template for cisco pyats testbed files stage build job inventory (inv-pyats-testbed.yml)
testbed:
   name: {{ inventory_hostname|lower }}-testbed
   credentials:
      default:                      
         username: "{{ ansible_ssh_user|default('rescue') }}"
         password: {{ ansible_ssh_password|default('pwd123') }}
devices:
     {{ inventory_hostname|lower }}:
          os: {{ cisco_pyats_os }}
          platform: {{ cisco_pyats_plattform }}
          connections:
               cli:
                    protocol: ssh
                    ip: "{{ cisco_pyats_inventory_ip | default('192.168.1.1') }}"