! Gernated by Ansible Role {{ role_name|basename }}
! Login config
! set password encryption on save
{% if cisco_template_user_pwd_encrypt == true  %}
service password-encryption
!
{% endif %}

! rescue user
username {{ cisco_rescue_user|default('rescue') }} privilege 15 secret 5 {{ cisco_rescue_pwd|default('rescueme!123') }} 

! user local
{% for user in cisco_template_user %}
username {{ user.name|default('rescue_local') }} privilege {{ user.privilege_level|default('1') }} secret {{ user.pwdtype|default('7') }} {{ user.pwd|default('rescueme!123') }} 
{% endfor %}   

! Activate Login
line con 0
    access-class ACL_SSH-ACCESS in
    privilege level 15
    logging synchronous
    login authentication {{ radius_server_authentication_group }}
line vty 0 4
    access-class ACL_SSH-ACCESS in
    privilege level 15
    logging synchronous
    login authentication {{ radius_server_authentication_group }}
    authorization exec {{ radius_server_authorization_group }}
    transport input ssh
line vty 5 15
    access-class ACL_SSH-ACCESS in
    privilege level 15
    logging synchronous
    login authentication {{ radius_server_authentication_group }}
    authorization exec {{ radius_server_authorization_group }}
    transport input ssh
