! Gernated by Ansible Role {{ role_name|basename }}
! login local config
! set password encryption on save
{% if cisco_template_user_pwd_encrypt == true  %}
service password-encryption
!
{% endif %}

! user local
{% for user in cisco_template_user %}
username {{ user.name|default('rescue_local') }} privilege {{ user.privilege_level|default('1') }} secret {{ user.pwdtype|default('7') }} {{ user.pwd|default('rescueme!123') }} 
{% endfor %}