! Gernated by Ansible Role {{ role_name|basename }}
! VRFs

{%for vrfs , value in vrfs.iteritems()%}
vrf definition {{ vrfs }}
 rd {{ value.route_distinguisher }}
 {% for rt_export in value.route_targets_export %}
 route-target export {{ rt_export }}
 {%endfor%}
 {%for rt_import in value.route_targets_import %}
 route-target import {{ rt_import }}
 {%endfor%}
 !
 address-family ipv4
  maximum routes 150 80
 exit-address-family
 !
 address-family ipv6
  maximum routes 150 80
 exit-address-family

{%endfor%}